/**
 * Utility classes
 * @section Utilities
 */

/**
 * Component classes
 * @section Components
 */

/**
 * Fill color classes
 * @section FillColors
 * @memberof Utilities
 */

/**
 * Layout classes
 * @section Layout
 * @memberof Utilities
 */

/**
 * Padding classes
 * @section Padding
 * @memberof Layout
 */

/**
 * Margin classes
 * @section Margin
 * @memberof Layout
 */

/**
 * @group
 * @memberof Margin
 * @example
 * <div class="margin-15">
 */
.margin-left-15 { margin-left: 15; }
.margin-top-15 { margin-top: 15; }
.margin-right-15 { margin-right: 15; }
.margin-bottom-15 { margin-bottom: 15; }
.margin-15 { margin: 15; }
/** @endgroup */

/** @memberof Padding */
.padding-top-15 { padding-top: 15; }

/**
 * A bluish hue
 * @memberof FillColors
*/
.fill-blue { background-color: blue; }

/**
 * No rules attached.
 * @memberof Components
 */
