/**
 * Utility classes
 * @namespace Utilities
 */

/**
 * Component classes
 * @namespace Components
 */

/**
 * Fill color classes
 * @namespace FillColors
 * @memberof Utilities
 */

/**
 * Layout classes
 * @namespace Layout
 * @memberof Utilities
 */

/**
 * Padding classes
 * @namespace Padding
 * @memberof Layout
 */

/**
 * Margin classes
 * @namespace Margin
 * @memberof Layout
 */
.margin-left-15 { margin-left: 15; }
.margin-top-15 { margin-top: 15; }
.margin-right-15 { margin-right: 15; }
.margin-bottom-15 { margin-bottom: 15; }
.margin-15 { margin: 15; }

/** @memberof Padding */
.padding-top-15 { padding-top: 15; }

/**
 * A bluish hue
 * @memberof FillColors
 * @example
 * <div style="width: 40px; height: 40px;" class="fill-blue"></div>
*/
.fill-blue { background-color: blue; }
